@media screen and (max-width: 350px) {
  .logo-svg {
    width: 150px;
  }

  .card {
    border-bottom-left-radius: 20px;
    border-bottom: 5px solid #38b6ff;
    margin: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .slider-top {
    margin-top: 100px;
  }

  .slider-text {
    padding-top: 20px;
    font-size: 1.1rem;
  }

  .card-main {
    background: #414a50;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-main-style {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #38b6ff;
    border-top: 5px solid #38b6ff;
    border-radius: 10px;
    padding: 5px;
  }

  .sessions-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .sessions-heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
  }

  .sessions-style-text {
    font-family: "Sacramento", cursive;
    font-size: 2rem;
    color: #38b6ff;
  }

  .card-details {
    background: #23078a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-detail {
    background: #23078a;
    border: none;
    color: white;
    text-align: center;
  }

  .card-main-title {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .card-text {
    font-size: 1rem;
    color: #999;
  }

  .quotes-card {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .quote-card {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .author-name {
    font-weight: 700;
  }
}

@media screen and (max-width: 480px) {
  .logo-svg {
    width: 170px;
  }

  .card {
    border-bottom-left-radius: 20px;
    border-bottom: 5px solid #38b6ff;
    margin: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .slider-top {
    margin-top: 150px;
  }

  .slider-text {
    font-size: 1.1rem;
    padding-top: 20px;
  }

  .card-main {
    background: #414a50;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-main-style {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #38b6ff;
    border-top: 5px solid #38b6ff;
    border-radius: 10px;
    padding: 5px;
  }

  .sessions-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .sessions-heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
  }

  .sessions-style-text {
    font-family: "Sacramento", cursive;
    font-size: 2.5rem;
    color: #38b6ff;
  }

  .card-details {
    background: #23078a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-detail {
    background: #23078a;
    border: none;
    color: white;
    text-align: center;
  }

  .card-main-title {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .card-text {
    font-size: 1rem;
    color: #999;
  }

  .quotes-card {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .quote-card {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .author-name {
    font-weight: 700;
  }
}

@media screen and (max-width: 630px) {
  .logo-svg {
    width: 190px;
  }

  .slider-top {
    margin-top: 100px;
  }

  .card {
    border-bottom-left-radius: 20px;
    border-bottom: 5px solid #38b6ff;
    margin: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .slider-text {
    font-size: 1.1rem;
    padding-top: 20px;
  }

  .card-main {
    background: #414a50;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-main-style {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #38b6ff;
    border-top: 5px solid #38b6ff;
    border-radius: 10px;
    padding: 5px;
  }

  .sessions-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .sessions-heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
  }

  .sessions-style-text {
    font-family: "Sacramento", cursive;
    font-size: 2.5rem;
    color: #38b6ff;
  }

  .card-details {
    background: #23078a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-detail {
    background: #23078a;
    border: none;
    color: white;
    text-align: center;
  }

  .card-main-title {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .card-text {
    font-size: 1rem;
    color: #999;
  }

  .quotes-card {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .quote-card {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .author-name {
    font-weight: 700;
  }
}

@media screen and (max-width: 730px) {
  .logo-svg {
    width: 190px;
  }

  .main-card {
    border-bottom-left-radius: 20px;
    border-bottom: 5px solid #38b6ff;
    margin: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .card-main {
    background: #414a50;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .sessions-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .sessions-heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 2rem;
  }

  .sessions-style-text {
    font-family: "Sacramento", cursive;
    font-size: 2.5rem;
    color: #38b6ff;
  }

  .card-details {
    background: #23078a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-detail {
    background: #23078a;
    border: none;
    color: white;
    text-align: center;
  }

  .card-main-title {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .card-text {
    font-size: 1rem;
    color: #999;
  }

  .quotes-card {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .quote-card {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .author-name {
    font-weight: 700;
  }
}

@media screen and (max-width: 830px) {
  .logo-svg {
    width: 190px;
  }

  .main-card {
    border-bottom-left-radius: 20px;
    border-bottom: 5px solid #38b6ff;
    margin: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .card-main {
    background: #414a50;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-main-style {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #38b6ff;
    border-top: 5px solid #38b6ff;
    border-radius: 10px;
    padding: 5px;
  }

  .sessions-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-details {
    background: #23078a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-detail {
    background: #23078a;
    border: none;
    color: white;
    text-align: center;
  }

  .card-main-title {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .card-text {
    font-size: 1rem;
    color: #999;
  }

  .quotes-card {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .quote-card {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .author-name {
    font-weight: 700;
  }
}

@media screen and (max-width: 930px) {
  .logo-svg {
    width: 190px;
  }

  .main-card {
    border-bottom-left-radius: 20px;
    border-bottom: 5px solid #38b6ff;
    margin: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .card-main {
    background: #414a50;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-main-style {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #38b6ff;
    border-top: 5px solid #38b6ff;
    border-radius: 10px;
    padding: 15px;
  }

  .sessions-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-details {
    background: #23078a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-detail {
    background: #23078a;
    border: none;
    color: white;
    text-align: center;
  }

  .card-main-title {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .card-text {
    font-size: 1rem;
    color: #999;
  }

  .quotes-card {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .quote-card {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .author-name {
    font-weight: 700;
  }
}
